This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY =

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests, collections, quandl

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
quandl.ApiConfig.api_key = API_KEY
quandl.get('FSE/AFX_X', start_date='2018-08-08', end_date='2018-08-08')

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-08-08,None,68.75,67.7,68.65,None,47181,3225473,None,None,None

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X'
r = requests.get(url)
data = r.json()

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [ ]:
! pip install quandl

## Question1 
### Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
Using Python native data structure

In [5]:
from collections import Counter
from datetime import datetime

In [6]:
inner_list = data['dataset']['data']

In [7]:
# test datetime object
x = datetime.strptime(inner_list[0][0], '%Y-%m-%d')
type(x.year)

int

In [8]:
answer1 = []
for lis in inner_list:
    if datetime.strptime(lis[0], '%Y-%m-%d').year == 2017:
        answer1.append(lis)

In [9]:
answer1[0]

[u'2017-12-29',
 51.76,
 51.94,
 51.45,
 51.76,
 None,
 34640.0,
 1792304.0,
 None,
 None,
 None]

## Question1 
### Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
Using Quandl package

In [10]:
answer1_quandl = quandl.get('FSE/AFX_X', start_date='2017-01-01', end_date='2017-12-31')
answer1_quandl.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700,1590561,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618,2515473,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408,1906810,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412,1692326,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507,964046,None,None,None

## Question2 
### Convert the returned JSON object into a Python dictionary.

In [11]:
answer2={}
for lis in answer1:
    answer2[answer1.index(lis)]=lis

In [15]:
from itertools import islice
list(islice(answer2.iteritems(), 2))

[(0,
  [u'2017-12-29',
   51.76,
   51.94,
   51.45,
   51.76,
   None,
   34640.0,
   1792304.0,
   None,
   None,
   None]),
 (1,
  [u'2017-12-28',
   51.65,
   51.82,
   51.43,
   51.6,
   None,
   40660.0,
   2099024.0,
   None,
   None,
   None])]

## Question3 
### Calculate what the highest and lowest opening prices were for the stock in this period.

In [16]:
open_list=[]
for lis in answer1:
    open_list.append(lis[1])

In [17]:
clean_open_list = [i for i in open_list if i != None] # Remove None value in the list which mess up max() and min()

In [18]:
answer3_highest = max(clean_open_list)
answer3_lowest = min(clean_open_list)

In [19]:
answer3_highest

53.11

In [20]:
answer3_lowest

34.0

## Question4
### What was the largest change in any one day (based on High and Low price)?

In [21]:
dif_dict = {}
for lis in answer1:
    dif = lis[2] - lis[3]
    dif_dict[lis[0]]=dif

In [22]:
max_dif = max(dif_dict.values()) 
for key, value in dif_dict.items():
    if value == max_dif:
        print key, value

2017-05-11 2.81

In [23]:
# Alternative way to get the date only 
max(dif_dict, key=dif_dict.get)

u'2017-05-11'

## Question5 
### What was the largest change between any two days (based on Closing Price)?

In [24]:
close = {}
for lis in answer1:
    close[lis[0]] = lis[4]

In [25]:
max_dif_Q5 = max(close.values())
min_dif_Q5 = min(close.values())

In [26]:
for key, value in close.items():
    if value == max_dif_Q5:
        print key, value

2017-12-13 53.09

In [27]:
# Alternative way to get the date only 
max(close, key=close.get)

u'2017-12-13'

In [28]:
for key, value in close.items():
    if value == min_dif_Q5:
        print key, value

2017-01-23 34.06

In [29]:
# Alternative way to get the date only 
min(close, key=close.get)

u'2017-01-23'

### Question6
## What was the average daily trading volume during this year?

In [30]:
daily_trading_volume = []
for lis in answer1:
    daily_trading_volume.append(lis[6])

In [31]:
sum(daily_trading_volume) / len(daily_trading_volume)

89124.33725490196

## Question 7
### What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [32]:
len(daily_trading_volume) # median is between position 127 and 128

255

In [33]:
daily_trading_volume.sort()

In [37]:
daily_trading_volume[:10]

[45.0, 112.0, 290.0, 522.0, 587.0, 686.0, 1081.0, 1945.0, 27507.0, 34640.0]

In [34]:
(daily_trading_volume[126] + daily_trading_volume[127]) / 2 # median

75630.5